* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.box {
  width: 400px;
  height: 600px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.msgBox {
  width: 100%;
  min-height: 560px;
  overflow-y: auto;
  background: #ececec;
  padding: 10px;
  box-sizing: border-box;
}

.msgBox li {
  margin-bottom: 5px;
}

.msgBox p {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  max-width: 50%;
  background: #fff;
  position: relative;
}

.msgBox img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: top;
}

.msgBox .receiveMsg p {
  margin-left: 5px;
}

.msgBox .receiveMsg p::before {
  content: '';
  clear: none;
  position: absolute;
  top: 5px;
  left: -10px;
  border: 5px solid transparent;
  border-right-color: #fff;
}

.msgBox .sendMsg {
  text-align: right;
}

.msgBox .sendMsg p {
  background: #9fec46;
  margin-right: 5px;
}

.msgBox .sendMsg p::before {
  content: '';
  clear: none;
  position: absolute;
  top: 5px;
  right: -10px;
  border: 5px solid transparent;
  border-left-color: #9fec46;
}

.text {
  flex: 1;
  border-top: 1px solid #000;
  display: flex;
}

input {
  flex: 9;
  font-size: 24px;
}

button {
  flex: 1;
}
