<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/base.css">
  <title>图书馆后台管理系统-首页</title>
</head>
<body>
  图书馆后台管理系统-首页
  <button id="btn">欢迎</button>

  <!-- 引入require.js -->
  <!-- data-main属性的作用是，指定网页程序的主模块。在上例中，就是js目录下面的main.js -->
  <script src="./js/lib/require.2.3.6.js" data-main="js/main.js"></script>
</body>
</html>